<h1>CImple</h1>
<h2><%= @output.keys.first %>: Last run <%= distance_of_time_in_words @run_at %> ago (<%= @run_at.strftime '%d %B %Y %I:%m%p' %>)</h2>
<hr>
<% @output.values.first.each do |output| %>
  <h2><%= output.keys.first %></h2>
  <pre class="good"><%= output.values.first['stdout'] %></pre>
  <pre class="bad"><%= output.values.first['stderr'] %></pre>
<% end %>
